@-webkit-keyframes typing {
    0% {
        background-color: rgba(0, 0, 0, 1);
        box-shadow: 12px 0px 0px 0px rgba(0, 0, 0, 0.4), 24px 0px 0px 0px rgba(0, 0, 0, 0.6);
    }
    25% {
        background-color: rgba(0, 0, 0, 0.6);
        box-shadow: 12px 0px 0px 0px rgba(0, 0, 0, 0.6), 24px 0px 0px 0px rgba(0, 0, 0, 0.4);
    }
    75% {
        background-color: rgba(0, 0, 0, 0.2);
        box-shadow: 12px 0px 0px 0px rgba(0, 0, 0, 0.8), 24px 0px 0px 0px rgba(0, 0, 0, 0.1);
    }
    100% {
        background-color: rgba(0, 0, 0, 1);
        box-shadow: 12px 0px 0px 0px rgba(0, 0, 0, 0.4), 24px 0px 0px 0px rgba(0, 0, 0, 0.6);
    }
}

@keyframes typing {
    0% {
        background-color: rgba(0, 0, 0, 1);
        box-shadow: 12px 0px 0px 0px rgba(0, 0, 0, 0.4), 24px 0px 0px 0px rgba(0, 0, 0, 0.6);
    }
    25% {
        background-color: rgba(0, 0, 0, 0.6);
        box-shadow: 12px 0px 0px 0px rgba(0, 0, 0, 0.6), 24px 0px 0px 0px rgba(0, 0, 0, 0.4);
    }
    75% {
        background-color: rgba(0, 0, 0, 0.2);
        box-shadow: 12px 0px 0px 0px rgba(0, 0, 0, 0.8), 24px 0px 0px 0px rgba(0, 0, 0, 0.1);
    }
    100% {
        background-color: rgba(0, 0, 0, 1);
        box-shadow: 12px 0px 0px 0px rgba(0, 0, 0, 0.4), 24px 0px 0px 0px rgba(0, 0, 0, 0.6);
    }
}
.toast {
    text-align: center;
    color: #999;
    position: fixed;
    width: 100%;
    z-index: 10000;
    top: 0;
    overflow: hidden;
    top: 40%;
    display: block;
}

.toast .txt {
    width: 60px;
    margin: 0 auto;
    padding: 12px 12px;
    border-radius: 2px;
    font-size: 12px;
    line-height: 12px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #eee;
    min-width: 80px;
}

.weui-picker__item {
    line-height: 1.8;
}